<!DOCTYPE html>
<html lang="en" class="h-full bg-gray-100" onload="">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <script src="/public/assets/js/script.js" defer></script>
    <link rel="stylesheet" href="/public/assets/css/input.css">
   <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="h-full">

  <%- include('Partials/header.ejs')%>
  <div class="bg-white">

    <!--Aqui começa o container principal-->
    <main class="relative">
      <div>
        <!--Aqui começa o primeiro card -->
        <!-- Hero card -->
        <div class="relative">
          <div class="absolute inset-x-0 bottom-0 h-1/2 bg-gray-100"></div>
          <div class="w-full mx-auto">
            <div class="relative shadow-xl sm:overflow-hidden">
              <div class="absolute inset-0">
                <img class="h-full w-full object-cover" src="/public/assets/img/college.jpg" alt="Students on table with computer">
                <div class="absolute inset-0 bg-indigo-700 mix-blend-multiply"></div>
              </div>
              <div class="relative px-6 py-16 sm:py-24 lg:px-8 lg:py-32">
                <h1 class="text-center text-4xl font-bold tracking-tight sm:text-5xl lg:text-6xl">
                  <span class="block text-white">Confie o futuro do seu filho no</span>
                  <span class="block text-indigo-200">Imptel</span>
                </h1>
                <p class="mx-auto mt-6 max-w-lg text-center text-xl text-indigo-200 sm:max-w-3xl">Anim aute id magna aliqua ad ad non deserunt sunt. Qui irure qui lorem cupidatat commodo. Elit sunt amet fugiat veniam occaecat fugiat aliqua.</p>
                <div class="mx-auto mt-10 max-w-sm sm:flex sm:max-w-none sm:justify-center">
                  <div class="space-y-4 sm:mx-auto sm:inline-grid sm:grid-cols-2 sm:gap-5 sm:space-y-0">
                    <a href="" class="flex items-center justify-center rounded-md border border-transparent bg-white px-4 py-3 text-base font-medium text-indigo-700 shadow-sm hover:bg-indigo-50 sm:px-8">Matricular</a>
                    <a href="" class="flex items-center justify-center rounded-md border border-transparent bg-indigo-500 bg-opacity-60 px-4 py-3 text-base font-medium text-white shadow-sm hover:bg-opacity-70 sm:px-8">Ver Cursos</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--Aqui termina o primeiro card -->
      </div>
      
      <!--Aqui começa o bungle-->
      <div class="bg-white py-24 sm:py-32 relative">
        <div class="mx-auto max-w-7xl px-6 lg:px-8">
          <div class="mx-auto max-w-2xl lg:text-center">
            <p class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Tudo que o seu filho precisa </p>
          </div>
          <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-none">
            <dl class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-16 lg:max-w-none lg:grid-cols-3">
              <div class="flex flex-col">
                <dt class="flex items-center gap-x-3 text-base font-semibold leading-7 text-gray-900">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 text-indigo-600">
                    <path d="M4.5 6.375a4.125 4.125 0 118.25 0 4.125 4.125 0 01-8.25 0zM14.25 8.625a3.375 3.375 0 116.75 0 3.375 3.375 0 01-6.75 0zM1.5 19.125a7.125 7.125 0 0114.25 0v.003l-.001.119a.75.75 0 01-.363.63 13.067 13.067 0 01-6.761 1.873c-2.472 0-4.786-.684-6.76-1.873a.75.75 0 01-.364-.63l-.001-.122zM17.25 19.128l-.001.144a2.25 2.25 0 01-.233.96 10.088 10.088 0 005.06-1.01.75.75 0 00.42-.643 4.875 4.875 0 00-6.957-4.611 8.586 8.586 0 011.71 5.157v.003z" />
                  </svg>
                  Professores Capacitados
                </dt>
                <dd class="mt-4 flex flex-auto flex-col text-base leading-7 text-gray-600">
                  <p class="flex-auto">Commodo nec sagittis tortor mauris sed. Turpis tortor quis scelerisque diam id accumsan nullam tempus. Pulvinar etiam lacus volutpat eu. Phasellus praesent ligula sit faucibus.</p>
                </dd>
              </div>
              <div class="flex flex-col">
                <dt class="flex items-center gap-x-3 text-base font-semibold leading-7 text-gray-900">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 text-indigo-600">
                    <path d="M11.25 4.533A9.707 9.707 0 006 3a9.735 9.735 0 00-3.25.555.75.75 0 00-.5.707v14.25a.75.75 0 001 .707A8.237 8.237 0 016 18.75c1.995 0 3.823.707 5.25 1.886V4.533zM12.75 20.636A8.214 8.214 0 0118 18.75c.966 0 1.89.166 2.75.47a.75.75 0 001-.708V4.262a.75.75 0 00-.5-.707A9.735 9.735 0 0018 3a9.707 9.707 0 00-5.25 1.533v16.103z" />
                  </svg>
                  
                  Conteúdo Didático
                </dt>
                <dd class="mt-4 flex flex-auto flex-col text-base leading-7 text-gray-600">
                  <p class="flex-auto">Pellentesque enim a commodo malesuada turpis eleifend risus. Facilisis donec placerat sapien consequat tempor fermentum nibh.</p>
                </dd>
              </div>
              <div class="flex flex-col">
                <dt class="flex items-center gap-x-3 text-base font-semibold leading-7 text-gray-900">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 text-indigo-600">
                    <path d="M11.7 2.805a.75.75 0 01.6 0A60.65 60.65 0 0122.83 8.72a.75.75 0 01-.231 1.337 49.949 49.949 0 00-9.902 3.912l-.003.002-.34.18a.75.75 0 01-.707 0A50.009 50.009 0 007.5 12.174v-.224c0-.131.067-.248.172-.311a54.614 54.614 0 014.653-2.52.75.75 0 00-.65-1.352 56.129 56.129 0 00-4.78 2.589 1.858 1.858 0 00-.859 1.228 49.803 49.803 0 00-4.634-1.527.75.75 0 01-.231-1.337A60.653 60.653 0 0111.7 2.805z" />
                    <path d="M13.06 15.473a48.45 48.45 0 017.666-3.282c.134 1.414.22 2.843.255 4.285a.75.75 0 01-.46.71 47.878 47.878 0 00-8.105 4.342.75.75 0 01-.832 0 47.877 47.877 0 00-8.104-4.342.75.75 0 01-.461-.71c.035-1.442.121-2.87.255-4.286A48.4 48.4 0 016 13.18v1.27a1.5 1.5 0 00-.14 2.508c-.09.38-.222.753-.397 1.11.452.213.901.434 1.346.661a6.729 6.729 0 00.551-1.608 1.5 1.5 0 00.14-2.67v-.645a48.549 48.549 0 013.44 1.668 2.25 2.25 0 002.12 0z" />
                    <path d="M4.462 19.462c.42-.419.753-.89 1-1.394.453.213.902.434 1.347.661a6.743 6.743 0 01-1.286 1.794.75.75 0 11-1.06-1.06z" />
                  </svg>
                  Certificado do Itel
                </dt>
                <dd class="mt-4 flex flex-auto flex-col text-base leading-7 text-gray-600">
                  <p class="flex-auto">Pellentesque sit elit congue ante nec amet. Dolor aenean curabitur viverra suspendisse iaculis eget. Nec mollis placerat ultricies euismod ut condimentum.</p>
                </dd>
              </div>
            </dl>
          </div>
        </div>
      </div>
      <!--Aqui termina o bungle-->

      <!--Aqui começa o slide do bungle-->
      <div class="w-full">
        <div class="text-white w-full">
          <div class="slideshow-container">
            <div class="slide w-full object-cover">
              <img src="" alt="Slide 1" class="w-full object-cover img slide-in-right">
              <div class="absolute inset-0 bg-indigo-700 mix-blend-multiply"></div>
              <div class="slide-text sm:pb-10">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi mollitia saepe iste! Mollitia, iusto sequi eveniet.</div>
            </div>
            <div class="slide w-full  object-cover ">
              <img src="" alt="Slide 2" class="w-full object-cover img slide-in-right">
              <div class="absolute inset-0 bg-indigo-700 mix-blend-multiply"></div>
              <div class="slide-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi mollitia saepe iste! Mollitia, iusto sequi eveniet.</div>
            </div>
            <div class="slide w-full object-cover">
              <img src="" alt="Slide 3" class="w-full object-cover img slide-in-right">
              <div class="absolute inset-0 bg-indigo-700 mix-blend-multiply"></div>
              <div class="slide-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi mollitia saepe iste! Mollitia, iusto sequi eveniet.</div>
            </div>
            <div class="slide w-full  object-cover ">
              <img src="" alt="Slide 3" class="w-full object-cover img slide-in-right">
              <div class="absolute inset-0 bg-indigo-700 mix-blend-multiply"></div>
              <div class="slide-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi mollitia saepe iste! Mollitia, iusto sequi eveniet.</div>
            </div>
          
            <!-- Add more slides as needed -->
          
            <button onclick="prevSlide()" class="absolute top-1/2 left-4 transform -translate-y-1/2 bg-gray-800 text-white px-4 py-2 rounded">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                <path fill-rule="evenodd" d="M7.72 12.53a.75.75 0 010-1.06l7.5-7.5a.75.75 0 111.06 1.06L9.31 12l6.97 6.97a.75.75 0 11-1.06 1.06l-7.5-7.5z" clip-rule="evenodd" />
              </svg>          
            </button>
            <button onclick="nextSlide()" class="absolute top-1/2 right-4 transform -translate-y-1/2 bg-gray-800 text-white px-4 py-2 rounded">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                <path fill-rule="evenodd" d="M16.28 11.47a.75.75 0 010 1.06l-7.5 7.5a.75.75 0 01-1.06-1.06L14.69 12 7.72 5.03a.75.75 0 011.06-1.06l7.5 7.5z" clip-rule="evenodd" />
              </svg> 
            </button>

            <div class="indicators">
              <!-- Indicators will be added dynamically with JavaScript -->
            </div>

          </div>
        </div>

        <!-- Adicione mais elementos filhos -->
      </div>
  <!--Aqui termina o slide do bungle-->

      <!--Aqui começa as notas informativas do bungle-->
            <div class="bg-white px-6 py-32 lg:px-8">
              <div class="mx-auto max-w-3xl text-base leading-7 text-gray-700">
                <h1 class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Notas Informativas</h1>
                <hr class="mt-5">
                <p class="mt-6 text-xl leading-8">Aliquet nec orci mattis amet quisque ullamcorper neque, nibh sem. At arcu, sit dui mi, nibh dui, diam eget aliquam. Quisque id at vitae feugiat egestas ac. Diam nulla orci at in viverra scelerisque eget. Eleifend egestas fringilla sapien.</p>
                <div class="mt-10 max-w-2xl">

                  <div class="bg-gray-200 p-4 rounded-lg">
                    <p class="font-bold">Nota #1</p>
                    <hr class="my-4 border-t-2 border-gray-300 rounded-full">
                    <!-- Outro conteúdo aqui, se necessário -->
                    <p>Faucibus commodo massa rhoncus, volutpat. Dignissim sed eget risus enim. Mattis mauris semper sed amet vitae sed turpis id. Id dolor praesent donec est. Odio penatibus risus viverra tellus varius sit neque erat velit. Faucibus commodo massa rhoncus, volutpat. Dignissim sed eget risus enim. Mattis mauris semper sed amet vitae sed turpis id.</p>
                  </div>

                  <div class="bg-gray-200 p-4 rounded-lg mt-10">
                    <p class="font-bold">Nota #2</p>
                    <hr class="my-4 border-t-2 border-gray-300 rounded-full">
                    <!-- Outro conteúdo aqui, se necessário -->
                    <p>Faucibus commodo massa rhoncus, volutpat. Dignissim sed eget risus enim. Mattis mauris semper sed amet vitae sed turpis id. Id dolor praesent donec est. Odio penatibus risus viverra tellus varius sit neque erat velit. Faucibus commodo massa rhoncus, volutpat. Dignissim sed eget risus enim. Mattis mauris semper sed amet vitae sed turpis id.</p>
                  </div>

                </div>
              </div>
            </div>
      <!--Aqui termina as notas informativas do bungle-->

      <!-- More main page content here... -->
    </main>
    <!--Aqui termina o container principla-->
  </div>
  <%- include('Partials/footer.ejs') %>
</body>
</html>