
<header class="bg-white sticky top-0 z-50 shadow-xl">
    <nav class="mx-auto  flex max-w-7xl items-center justify-between p-6 lg:px-8" aria-label="Global">
        <div class="flex lg:flex-1">
            <a href="#" class="-m-1.5 p-1.5">
                <span class="sr-only">Imptel Logo</span>
                <img class="h-12 w-auto" src="/public/assets/img/IMPTEL.svg" alt="">
            </a>
        </div>
        <div class="flex lg:hidden">
            <button type="button" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700 " onclick="toggleNavbar('menu')">
                <span class="sr-only">Open main menu</span>
                <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                </svg>
            </button>
        </div>
        <div class="hidden lg:flex lg:gap-x-12">
            <a href="./" class="text-sm font-semibold leading-6 text-gray-900">Home</a>
            <a href="./" class="text-sm font-semibold leading-6 text-gray-900">Sobre Nós</a>
            <a href="./" class="text-sm font-semibold leading-6 text-gray-900">Cursos</a>
            <a href="./" class="text-sm font-semibold leading-6 text-gray-900">Secretaria Online</a>
        </div>
        <div class=" hidden lg:flex lg:flex-1 lg:justify-end">
            <div class="bg-gray-800 p-4">
                <div class="flex items-center justify-between">

                    <!-- Nome do Usuário -->
                    <div class="text-white">
                        <span class="mr-2"><strong id="user_name">Nome do Usuário</strong></span>
                    </div>

                    <!-- Ícone de Seta para Baixo -->
                    <div class="cursor-pointer text-white" id="setaDropdown">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                             class="h-6 w-6">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                  d="M19 9l-7 7-7-7"></path>
                        </svg>
                    </div>

                    <!-- Opções de Perfil e Logout (Dropdown) -->
                    <div class=" mt-10 mr-5 hidden absolute top-12 right-0 bg-white p-2 shadow-md" id="opcoesDropdown">
                        <ul>
                            <li><a href="/perfil" class="block px-4 py-2 text-gray-800">Ver Perfil</a></li>
                            <li><button class="block px-4 py-2 text-gray-800" onclick="logOut()">Logout</button></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <!-- Mobile menu, show/hide based on menu open state. -->
    <div class="hidden" role="dialog" aria-modal="true" id="menu">
        <!-- Background backdrop, show/hide based on slide-over state. -->
        <div class="fixed inset-0 z-10"></div>
        <div class="fixed inset-y-0 right-0 z-10 w-full overflow-y-auto bg-white px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10">
            <div class="flex items-center justify-between">
                <a href="#" class="-m-1.5 p-1.5">
                    <span class="sr-only">Your Company</span>
                    <img class="h-12 w-auto" src="/public/assets/img/IMPTEL.svg" alt="Imptel Logo">
                </a>
                <button type="button" class="-m-2.5 rounded-md p-2.5 text-gray-700" onclick="toggleNav('menu')">
                    <span class="sr-only">Close menu</span>
                    <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                    </svg>
                </button>
            </div>
            <div class="mt-6 flow-root">
                <div class="-my-6 divide-y divide-gray-500/10">
                    <div class="space-y-2 py-6">
                        <a href="#" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">Home</a>
                        <a href="#" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">Sobre Nós</a>
                        <a href="#" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">Cursos</a>
                        <a href="#" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">Contato</a>
                    </div>
                    <div class="py-6">
                        <a href="#" class="-mx-3 block rounded-lg px-3 py-2.5 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">Log in</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<script>
    const user = sessionStorage.getItem('user_name');
    document.querySelector('#user_name').textContent = `${user}`;

    function logOut(){
        fetch('/auth/logout', {
            method: 'POST',
            credentials: 'same-origin',
        })
            .then(response => {
                if (response.ok) {
                    // Handle successful logout
                    window.location.href = '/login';
                } else {
                    // Handle error or unexpected response
                    console.error('Logout failed:', response.statusText);
                }
            })
            .catch(error => console.error('Logout failed:', error));

    }

</script>